<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
version="2.4">
  <mime-mapping>
    <extension>html</extension>
    <mime-type>text/html; charset=UTF-8</mime-type>
  </mime-mapping>
  
	<servlet>
		<servlet-name>exec</servlet-name>
		<servlet-class>com.tbkobenkyo.sql.controllers.ExecController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>exec</servlet-name>
		<url-pattern>/exec</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>tablist</servlet-name>
		<servlet-class>com.tbkobenkyo.sql.controllers.TableListController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>tablist</servlet-name>
		<url-pattern>/tablist</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>tabdetail</servlet-name>
		<servlet-class>com.tbkobenkyo.sql.controllers.TableDetailController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>tabdetail</servlet-name>
		<url-pattern>/tabdetail</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>sessionck</servlet-name>
		<servlet-class>com.tbkobenkyo.sql.controllers.SessionCheckerController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>sessionck</servlet-name>
		<url-pattern>/sessionck</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>signin</servlet-name>
		<servlet-class>com.tbkobenkyo.sql.controllers.SigninController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>signin</servlet-name>
		<url-pattern>/signin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>signout</servlet-name>
		<servlet-class>com.tbkobenkyo.sql.controllers.SignoutController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>signout</servlet-name>
		<url-pattern>/signout</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>changepw</servlet-name>
		<servlet-class>com.tbkobenkyo.sql.controllers.ChangePasswordController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>changepw</servlet-name>
		<url-pattern>/changepw</url-pattern>
	</servlet-mapping>
</web-app>
